_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# a place to stash posts that aren't ready to go yet
_posts_future

.DS_Store
/*/.DS_Store
.DS_Store
assets/.DS_Store

# Theme symlinks (local dev only)
_layouts
_includes
_sass
assets/css/main.scss
